/Editor/Delphi/lastengine.dproj.local
/Editor/Delphi/lastengine.identcache
/Editor/Delphi/lastengineEditor.dproj.local
/Editor/Delphi/lastengineEditor.identcache
/Editor/Delphi/__recovery/
/Editor/Delphi/__history/
/Editor/Delphi/Win64/Debug/*.dcu
/Editor/Delphi/Win64/Debug/*.rsm

/Editor/Delphi/Win64/
